.addNewTask {
    width: 100%;
    padding: 16px 24px;
    border-radius: 8px;
    margin-top: 1.5em;
    background: linear-gradient(90deg, #0796D3 0%, #53C0F0 68.65%);
    border: none;
    font-size: 16px;
    color: #ffffff;
    font-weight: 500;
    margin-bottom: 100px;

    &:hover {
        cursor: pointer;
    }
}


.addTaskModalBackground {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba($color: #ffffff, $alpha: .8);
    justify-content: center;
    align-items: center;
    display: none;
    
    &.visible {
        display: flex;
    }

    .addTaskModal {
        background-color: #ffffff;
        width: 450px;
        box-sizing: border-box;
        border-radius: 16px;
        padding: 32px;
        box-shadow: 0 24px 48px -12px #1018282E;
        display: flex;
        flex-direction: column;
        gap: 32px;

        .title {
            font-size: 24px;
            font-weight: 500;
        }

        .inputBox {
            display: flex;
            flex-direction: column;

            label {
                margin-bottom: 8px;
            }

            .newTaskInput {
                width: 100%;
                box-sizing: border-box;
                padding: 16px;
                border: 1px solid #D7DDE9;
                border-radius: 8px;

                &::placeholder {
                    font-size: 16px;
                    font-weight: 400;
                    color: #0000008F;
                }
            }
        }

        .actions {
            display: flex;
            gap: 16px;

            .btnAction {
                width: 100%;
                padding: 16px 24px;
                border-radius: 8px;
                background-color: #E7EEFB;
                color: #000000;
                border: none;
                font-size: 16px;
                font-weight: 400;
                
                &:hover {
                    cursor: pointer;
                }

                &.add {
                    background: linear-gradient(90deg, #0796D3 0%, #53C0F0 68.65%);
                    color: #ffffff;
                    font-weight: 500;
                }
            }
        }
    }
}

@media screen and (max-width: 320px){
    .addTaskModalBackground {
        background-color: rgba($color: #ffffff, $alpha: 1);
        align-items: start;
    
        .addTaskModal {
            background-color: #ffffff;
            box-shadow: none;
            padding: 24px;
    
            .actions {
                flex-direction: column-reverse;
            }
        }
    }
}