.header {
    display: flex;
    height: 84px;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #D7DDE9;

    .logo {
        width: 30%;
    }

    .welcome {
        font-size: 24px;
        font-weight: 500;
    }

    .date {
        width: 30%;
        font-size: 1em;
        text-align: end;
        color: #000000;
        opacity: .5;
        line-height: 19px;
    }
}

@media screen and (max-width: 480px) {
    .header {
        display: flex;
        height: auto;
        justify-content: auto;
        align-items: start;

        flex-direction: column;
        margin: 24px;
        padding-bottom: 24px;
    
        .welcome {
            font-size: 16px;
            margin: 5px 0 8px 0;
        }
    
        .date {
            width: 100%;
            text-align: start;
        }
    }
} 